<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-1" href="#">Book Your Seat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end " id="navbarText">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{username}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="event-list-container">
  <h2 class="page-title">Upcoming Events</h2>

  @if (loading()) {
    <div class="message loading">
        Loading....
    </div>
  } @else if(error){
    <div class="message error">{{error}}</div>
  }

  @if(!loading() && !error){
  <div class="event-grid" >
    <div *ngFor="let event of events" class="event-card">
      <h3>{{ event.title }}</h3>
      <p class="description">{{ event.description }}</p>
      <p class="meta"><strong>Date:</strong> {{ event.date | date }}</p>
      <p class="meta"><strong>Location:</strong> {{ event.location }}</p>
  <button class="btn btn-primary" [routerLink]="['/events', event.id]">View Details</button>

    </div>
  </div>
  }

  @if(!loading() && !error && events.length === 0){
  <div class="message empty">
    No events found.
  </div>
}
</div> -->
<div class="events-wrapper">
  <!-- NAVBAR -->
 <app-navbar-common [username]='username'></app-navbar-common>

  <!-- MAIN CONTENT -->
  <div class="events-container">
    <h2 class="page-title">Upcoming Events</h2>

    @if (loading()) {
      <div class="message loading">Loading events...</div>
    } @else if (error) {
      <div class="message error">{{ error }}</div>
    } @else {
      <div class="event-grid">
        @for (event of events; track $index) {
        <div class="event-card">
          <div class="event-content">
            <h3>{{ event.title }}</h3>
            <p class="description">{{ event.description }}</p>
            <p class="meta"><strong>Date:</strong> {{ event.eventDatetime | date: 'fullDate' }}</p>
            <p class="meta"><strong>TIme:</strong> {{ event.eventDatetime | date: 'shortTime' }}</p>
            <p class="meta"><strong>Location:</strong> {{ event.venue }}</p>
          </div>
          <button class="btn-primary" [routerLink]="['/events', event.id]">
            View Details
          </button>
        </div>
      }
      </div>
    }

    @if (!loading() && !error && events.length === 0) {
      <div class="message empty">No events found.</div>
    }
  </div>
</div>
